AZURE_OPENAI_API_KEY=your_new_api_key_here
AZURE_OPENAI_ENDPOINT=your_azure_endpoint_here
AZURE_OPENAI_API_VERSION=2024-05-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o-mini


GOOGLE_AI_API_KEY=your_google_ai_api_key_here
GOOGLE_AI_MODEL=gemini-2.5-flash
GOOGLE_AI_TEMPERATURE=0.5


# Database Configuration
DATABASE_URL=postgresql://text2sql:text2sql@localhost:5432/text2sql_db

# Logging Configuration
LOG_LEVEL=INFO